{% extends "base.html" %}

{% block title %}Picha!{% endblock %}

{% block headcss %}
  <style>
    .card-image {
      height:200px;
    }
    .linkable {
      cursor: pointer;
    }
  </style>
{% endblock %}

{% block content %}
         {% if user.is_authenticated %}

      
      <span class="login100-form-title p-b-53" ><a style="font-size:125%;color:red"; href="{% url 'logout' %}">logout</a></span>

{% endif %}
 
  <div class="images row">
    <table class="table table-striped">
  <thead>
    <tr>
      
      <th><b>Name</b></th>
      <th><b>Phone number</b></th>
      <th><b>email</b></th>
      <th><b>active</b></th>

      <th colspan=2><b>Action</b></th>
    </tr>
  </thead>
  <tbody>
    {% for intern in interns %}
    <tr>
      <td>{{ intern.fullname }}</td>
      <td>{{ intern.phone }}</td>
      <td>{{ intern.email }}</td>
      <td>{{ intern.status }}</td>

    </tr>
    {% endfor %}
    <tr>
     
    </tr>
  </tbody>
</table>
    

    
  </div>

{% endblock %}

{% block extrabody %}
  <script type="text/javascript">
    $(document).ready(function() {
      $('.modal-trigger').leanModal();
    });
  </script>
{% endblock %}