{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block headcss %}
  <style>
    .errorlist{
      color:#ff0000;
    }
    #signuppop{
      padding: absolute;
      margin-left: 500px
    }
  </style>
{% endblock %}

{% block content %}


    <div class="container">
      <div class="row">
    <div class="col-sm-12 text-center">
      <center>
        <button id="btnSearch" onclick="location.href='/internstudent/'" class="btn btn-primary btn-md center-block" Style="width: 200px;">
            Intern
        </button>
        <button id="btnSearch" onclick="location.href='/internmanager'" class="btn btn-primary btn-md center-block" Style="width: 200px;">
            Admin
        </button>
        </center>
     </div>
</div>

    </div>

{% endblock %}